<div class="w-100 py-5 bg-light-yellow px-4">
    <swiper
    [config]="gridConfig"
    class="mySwiper d-md-block d-none"
  >
    <ng-template swiperSlide><img src="../../assets/images/1.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/2.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/3.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/4.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/5.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/6.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/7.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/8.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/9.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/10.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/11.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/12.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/13.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/14.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/15.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/16.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/17.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/18.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/19.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/20.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/21.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/22.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/23.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/24.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/25.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/26.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/27.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/28.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/29.png" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/images/30.png" alt=""></ng-template>
  </swiper>

  <div class="d-md-none d-block overflow-auto">
    <div class="d-flex align-items-center flex-nowrap">
        <img src="../../assets/images/1.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/2.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/3.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/4.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/5.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/6.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/7.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/8.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/9.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/10.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/11.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/12.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/13.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/14.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/15.png" class="w-17 mx-3" alt="">
    </div>

    <div class="d-flex align-items-center flex-nowrap">
        <img src="../../assets/images/16.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/17.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/18.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/19.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/20.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/21.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/22.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/23.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/24.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/25.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/26.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/27.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/28.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/29.png" class="w-17 mx-3" alt="">
        <img src="../../assets/images/30.png" class="w-17 mx-3" alt="">
    </div>
  </div>
</div>
