<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 col-6 my-3"><div class=""><img src="../../assets/images/A.png" class="w-100" alt=""></div></div>
        <div class="col-md-3 col-6 my-3"><div class=""><img src="../../assets/images/B.png" class="w-100" alt=""></div></div>
        <div class="col-md-3 col-6 my-3"><div class=""><img src="../../assets/images/C.png" class="w-100" alt=""></div></div>
        <div class="col-md-3 col-6 my-3"><div class=""><img src="../../assets/images/D.png" class="w-100" alt=""></div></div>
    </div>
</div>
